/*!
  * Plugin:	Classic SEO
  * Name:	cpseo.css
  */#wp-admin-bar-cpseo .cpseo-icon{display:inline-block;top:6px;position:relative;padding-right:10px}#wp-admin-bar-cpseo .cpseo-icon svg{fill-rule:evenodd;fill:#dedede;height:21px;vertical-align:inherit}#wp-admin-bar-cpseo:hover .cpseo-icon svg{fill-rule:evenodd;fill:#00b9eb}
