/*!
 * Name:	option-panel.css
 */
.cpseo-wrap-settings{width:980px;max-width:98%}
.cpseo-wrap-settings .cpseo-tabs-navigation .separator{font-weight:600;display:block;padding:11px 15px;color:#2d2d2d;border-left:1px solid #b5bfc9;background: #e9ecef;color:#2d2d2d;}
.cpseo-wrap-settings .cpseo-tabs-content{margin-bottom:0}
.cpseo-wrap-settings .form-footer{width:calc(100% - 200px);margin-left:200px;padding:20px;border:0}
.cpseo-wrap-settings .cpseo-address-format .cpseo-variables-dropdown{height:185px}
.cpseo-search-options .search-field input,.cpseo-search-options select{display:block;margin:0;padding:10px 15px;border-color:#e5e5e5;border-radius:3px 0 0 3px;box-shadow:none!important;height:43px;width:150px}
.cpseo-search-options{float:right}
.cpseo-search-options .search-field{position:relative;float:left}
.cpseo-search-options .search-field input{width:300px;padding-left:42px;border-right:0}
.cpseo-search-options .search-field i,.cpseo-search-options .search-field em{cursor:pointer;-webkit-transform:translateY(-50%);transform:translateY(-50%);position:absolute;top:50%;left:13px}
.cpseo-search-options .search-field em{right:8px;left:auto;display:none}
.searching .cpseo-search-options .search-field em{display:block}
.cpseo-search-options select{float:left;cursor:pointer;background:#f6f6f6}
.cpseo-wrap-settings.search-no-results .cpseo-setting-search-empty{font-size:2em;font-weight:400;display:block;padding:25px 0;text-align:center}
.cpseo-search-dropdown{z-index:10;display:none;overflow:auto;max-width:450px;border:1px solid #e5e5e5;background:#fff;position:absolute;top:42px;right:37px;height:220px;width:80%}
.cpseo-search-dropdown .cmb-row{padding:10px;cursor:pointer;border-bottom:1px solid #e5e5e5}
.cpseo-search-dropdown .cmb-row .cmb2-metabox-description{font-size:12px}
.cpseo-search-dropdown .cmb-row:hover{background:#f6f6f6}
.cpseo-search-dropdown.empty:before{font-size:1.2em;font-style:italic;display:block;padding:20px;content:'Nothing found.'}
.cpseo-console-db-info{display:inline-block;margin:8px 8px 0 0;padding:5px 8px;border-radius:4px;background:#f6f6f6}
#console_caching_control{margin-bottom:10px}
#console-updating-manually-progress{position:relative;display:none;overflow:hidden;margin:10px 0;padding:8px;border-radius:4px;background:#f6f6f6}
#console-updating-manually-progress .progress{overflow:hidden;height:100%;padding:8px;transition:width 2s ease-in-out;white-space:nowrap;color:#fff;border-radius:3px;background:#008ec2;position:absolute;top:0;left:0}
.cmb2-id-breadcrumbs-separator .cmb2-radio-list li label,.cmb2-id-title-separator .cmb2-radio-list li label{margin:0 4px;border-radius:2px;box-shadow:none}
.cmb2-id-breadcrumbs-separator .cmb2-radio-list li label span.custom-sep,.cmb2-id-title-separator .cmb2-radio-list li label span.custom-sep{line-height:30px;display:block;box-sizing:border-box;min-width:40px;margin-top:5px;margin-right:-6px;margin-left:-6px;padding:0 8px;cursor:text;transition:50ms border-color ease-in-out;text-align:center;color:#32373c;outline:0;background-color:#fff;box-shadow:inset 0 1px 2px rgba(0,0,0,0.07)}
.cpseo-rss-variables h3{font-size:1.2em}
.cpseo-rss-variables thead th,.cpseo-rss-variables tbody td{line-height:1;margin-bottom:9px;padding:15px 10px;vertical-align:middle}
.cpseo-rss-variables tr td:first-child{font-weight:600}
.cpseo-title .cpseo-variables-preview{font-size:18px;font-weight:400}
.cpseo-description .cpseo-variables-preview{font-size:13px;line-height:1.4;word-wrap:break-word;color:#545454}
body.rtl .cpseo-search-options{float:left}
body.rtl .cpseo-search-options .search-field{float:right}
body.rtl .cpseo-search-options .search-field input{padding-right:42px;padding-left:15px;border-right:1px solid #e5e5e5;border-left:0;border-radius:0 3px 3px 0}
body.rtl .cpseo-search-options .search-field select{border-radius:0 3px 3px 0}
body.rtl .cpseo-search-options .search-field .dashicons-search{right:13px}
body.rtl .cpseo-search-options .search-field em{right:auto;left:8px}
